.todos {
  margin: 0 -10px;
    
}

.todo {
  width: 350px;
  margin-left: 10px;
  margin-right: 10px;
  margin: 2rem;
 }

.myBorder {
  border-color: lightgreen;
  border-top: 3px dotted green;
}

.myBorder2 {
  background-color: lemonchiffon;
  border-color: yellow;
  border-top: 10px solid darkorange;
}

.goButton {
  border: 1px dotted grey;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: grey;
  padding-left: 110px;
  padding-top: 50px;
  
}

.card {
min-width: 320px;
min-height: 240px;  
}


.close {
  position: absolute;
  top: 10px;
 right: 15px;
 
}

.timeAgoMade {
  margin: 1rem;
  display: none;
}

.finishTime {
  background-color: pink;
}

.deadliner {
  color: red;
  margin: 0.7rem;
  font-style: italic;
}

.deadlinePath {
  border-color: red;
}

.linkPlus {
  color: grey;
  position: absolute;
  top: 70px;
  right: 120px;
}

.impo {
  min-width: 30px;
  min-height: 15px;
  padding: 0.2rem;
  margin: 0.2rem;
}

.urgentik {
  background-color: red;
  border-radius: 50%;
  max-height: 0.5rem;
  max-width: 0.5rem;
  margin-left: 2rem;
  margin-bottom: 0.5rem;
  margin-top: 0.5rem;

}

.hightik {
  background-color: blue;
  border-radius: 50%;
  max-height: 0.5rem;
  max-width: 0.5rem;
  margin-left: 2rem;
  margin-bottom: 0.5rem;
  margin-top: 0.5rem;
}

.mediumik {
  background-color: yellow;
  border-radius: 50%;
  max-height: 0.5rem;
  max-width: 0.5rem;
  margin-left: 2rem;
  margin-bottom: 0.5rem;
  margin-top: 0.5rem;
}

.lowik {
  background-color: green;
  border-radius: 50%;
  max-height: 0.5rem;
  max-width: 0.5rem;
  margin-left: 2rem;
  margin-bottom: 0.5rem;
  margin-top: 0.5rem;
}



